<main class="pomodoro">
  <nb-card class="pomodoro__time">
    <h1 class="pomodoro__header--display">
      {{ timer.minutes | time }}
      <button
        class="pomodoro__play-pause"
        (click)="timer.playing = !timer.playing"
      >
        <i
          [ngClass]="{ 'nb-play': !timer.playing, 'nb-pause': timer.playing }"
        ></i>
      </button>
      {{ timer.seconds | time }}
    </h1>
  </nb-card>
  <nb-card class="pomodoro__break">
    <h1 class="pomodoro__header--title">Break</h1>
    <br />
    <p>{{ break }} <small>/4</small></p>
  </nb-card>
  <nb-card class="pomodoro__goal">
    <h1 class="pomodoro__header--title">Goal</h1>
    <br />
    <p>{{ goal }} <small>/8</small></p>
  </nb-card>
  <nb-card class="pomodoro__update-time">
    <h1 class="pomodoro__header--title">Update Time</h1>
    <form
      [formGroup]="timeForm"
      (ngSubmit)="handleTimeChange()"
      class="pomodoro__form"
    >
      <label class="pomodoro__time-input">
        Time
        <div>
          <input
            formControlName="minutes"
            type="number"
            name="minutes"
            min="0"
            max="30"
          />
          :
          <input
            formControlName="seconds"
            type="number"
            name="seconds"
            min="0"
            max="59"
          />
        </div>
      </label>
      <button nbButton type="submit">CHANGE</button>
    </form>
  </nb-card>
  <footer class="pomodoro__footer">
    <nb-card
      *ngFor="let color of (colors | async)"
      [ngStyle]="{ backgroundColor: color.color }"
      [title]="color.name"
    ></nb-card>
  </footer>
</main>
