<main class="pomodoro">
  <nb-card class="pomodoro__time">
    <nb-card-body>
      <h1 class="pomodoro__header pomodoro__header--display">
        {{ timer.minutes | time }}
        <button
          class="pomodoro__play-pause"
          (click)="timer.playing = !timer.playing"
        >
          <i
            [ngClass]="{ 'nb-play': !timer.playing, 'nb-pause': timer.playing }"
          ></i>
        </button>
        {{ timer.seconds | time }}
      </h1>
    </nb-card-body>
  </nb-card>
  <nb-card class="pomodoro__break">
    <nb-card-body>
      <h1 class="pomodoro__header pomodoro__header--title">Break</h1>
      <br />
      <p>{{ break }} <small>/4</small></p>
    </nb-card-body>
  </nb-card>
  <nb-card class="pomodoro__goal">
    <nb-card-body>
      <h1 class="pomodoro__header pomodoro__header--title">Goal</h1>
      <br />
      <p>{{ goal }} <small>/8</small></p>
    </nb-card-body>
  </nb-card>
  <nb-card class="pomodoro__update-time">
    <nb-card-body>
      <h1 class="pomodoro__header pomodoro__header--title">Update Time</h1>
      <form
        [formGroup]="timeForm"
        (ngSubmit)="handleTimeChange()"
        class="pomodoro__form"
      >
        <label class="pomodoro__time-input">
          Time
          <div>
            <input
              formControlName="minutes"
              type="number"
              name="minutes"
              min="0"
              max="30"
            />
            :
            <input
              formControlName="seconds"
              type="number"
              name="seconds"
              min="0"
              max="59"
            />
          </div>
        </label>
        <button
          type="submit"
          class="pomodoro__button pomodoro__button--blue"
        >
          CHANGE
        </button>
      </form>
    </nb-card-body>
  </nb-card>

  <!-- <footer class="pomodoro__footer">
    <nb-card
      *ngFor="let color of (colors | async)"
      [ngStyle]="{ backgroundColor: color.color }"
      [title]="color.name"
    ></nb-card>
  </footer> -->

  <ng-template #breakDialog let-ref="dialogRef">
    <nb-card>
      <nb-card-header>{{
        breakOver ? 'Get back to work!' : 'Time to take a break'
      }}</nb-card-header>
      <nb-card-body>
        <h1>{{ breakTimer.minutes | time }}:{{ breakTimer.seconds | time }}</h1>
      </nb-card-body>
      <nb-card-footer>
        <button
          class="pomodoro__button"
          [ngClass]="{
            'pomodoro__button--red': !breakOver,
            'pomodoro__button--green': breakOver
          }"
          (click)="ref.close()"
        >
          {{ breakOver ? 'Okay' : 'Cancel' }}
        </button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
</main>
